<mat-toolbar style="background-color: #7d8085">
  <div>
    <ul>
      <li><a routerLink="/">HOME</a></li>
      <ul *ngIf="auth.user$ | async as user">
        <li><a routerLink="/profile">PROFILE</a></li>
      </ul>
      <li>
        <button style="position: absolute; right: 10px;top: 10px" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </li>
    </ul>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/login">Sign in</button>
    </mat-menu>
  </div>
</mat-toolbar>
