<mat-toolbar style="background-color: #7d8085">
  <div>
    <ul>
      <li><a routerLink="/">HOME</a></li>
      <li><a routerLink="/products">PRODUCTS</a> </li>
      <ul *ngIf="auth.user$ | async as user">
        <li><a routerLink="users/profile">PROFILE</a></li>
        <ul *ngIf="user.isAdmin">
        <li><a routerLink="users">USERS</a></li>
          <li><a routerLink="products/add-product">ADD PRODUCT</a></li>
        </ul>
      </ul>
      <ul *ngIf="auth.user$ | async as user; else signOut">
        <button class="mat-button" mat-flat-button (click)="auth.signOut()">Sign out </button>
      </ul>
    </ul>
  </div>
</mat-toolbar>

<ng-template #signOut>
  <button class="mat-button" mat-flat-button (click)="auth.googleSignin()">Sign In</button>
</ng-template>
