<br>
<header style="text-align: center">Products</header>
<br>
<br>
<div *ngIf="auth.user$ | async as user">
<div style="width: 80%; margin-left: 10%">
<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="card-deck-container">
      <mat-card-header>
        <img src="assets/imgAmadeus1.jpeg">
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Name: {{product.name}}</mat-list-item>
          <mat-list-item>Price: {{product.price}}</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions *ngIf="user.isAdmin" align="end" style="margin: 4px">
        <button mat-raised-button (click)="editProduct(product.id)">Edit</button>
        <button mat-raised-button (click)="deleteProduct(product.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
  </div>
</div>
